<div class = "panel panel-primary">
  <div class = "panel-heading">Post something!</div>
  <div class = "panel-body">
    <%= render 'form' %>
  </div>
</div>
<div id = "posts">
  <% Post.all.reverse.each do |post| %>
    <%= render "post", post: post %>
  <% end %>
</div>
