  <div class = "row">
    <div class="col-xs-6 col-md-4">
      <%= link_to image_tag('rec.png', width: '100%'), root_path(sort: 'recent'), width: '100%' %>
    </div>
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-6 col-md-4">
      <%= link_to image_tag('pop.png', width: '100%'), root_path, width: '100%' %>
    </div>
  </div>
  <br>
<div class = "panel panel-primary">
  <div class = "panel-heading">Post something!</div>
  <div class = "panel-body">
    <%= render 'form' %>
  </div>
</div>
<div id = "posts">
  <% @posts.each do |post| %>
    <%= render "post", post: post %>
  <% end %>
</div>
